@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #4F1787;
    --color-secondary: #180161;
    --color-accent: #FB773C;
    --color-highlight: #EB3678;
    --color-highlight-dark: #eb36789d;
    --color-purple: #956afa;

    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray-900: #1a1a1a;
    --color-slate-800: #1e293b;
    --color-slate-950: #020617;

    --bg-background: var(--color-black);
  }
}

@layer components {}

@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }

  .text-primary {
    color: var(--color-primary);
  }

  .bg-secondary {
    background-color: var(--color-secondary);
  }

  .text-secondary {
    color: var(--color-secondary);
  }

  .bg-accent {
    background-color: var(--color-accent);
  }

  .text-accent {
    color: var(--color-accent);
  }
  .text-purple {
    color: var(--color-purple);
  }

  .bg-highlight {
    background-color: var(--color-highlight);
  }

  .text-highlight {
    color: var(--color-highlight);
  }

  .bg-background {
    background-color: var(--color-black);
  }

  .bg-card-background{
    background-color: var(--color-gray-900);
  }

  .text-background {
    color: var(--color-black);
  }

}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--bg-background)
}

::-webkit-scrollbar-thumb {
  background: var(--color-highlight);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-highlight-dark);
}

::selection {
  background-color: var(--color-slate-800);
}